/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end reset*/

h1 {
	font-family: "Georgia";
	text-decoration: underline;
	text-align: center;
	width: 80%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
 }
 
nav ul {
	margin: 0;
	padding: 0;
	height: auto;
}
 
nav li {
	display: inline;
	padding: 10px;
}
 
nav a {
	display: inline-block;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	color: blue;
	transition: .2s background-color;
}

nav a:hover {
	background-color: #FBE908;
}

nav {
	max-width: 90%;
	height: auto;
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-align: center;
	background-color: #FAFAD2;
	margin-left: auto;
	margin-right: auto;
	border: .1em solid black;
}

body {
	background: url("https://ac2050.github.io/Project-3/images/lantern-background.jpg");
}

#indexsec p {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#me_img {
	border-radius: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	max-width: 99%;
}

#iitcon {
	float: right;

}
#mycon {
	float: left;

}

#about {
	max-width: 37em;
	margin: 0 auto;
  
}

#banner {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: .2em solid black;
}

#indexsec {
	border: .1em solid black;	
	background-color: #FAFAD2;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#hi {
	text-align: center;
}

#site-footer {
	background-color: #FAFAD2;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid Black;
	padding: 5px;
	margin-top: 10px;
 }
 
#site-footer address p {
	font-family: Georgia;
	padding: 0;
	margin: 5px 0;
 }
 
 #site-footer p{
	padding: 0;
	margin: 0;
 }
 
#sitetitle {
	text-align: center;
	margin-left: auto;
	margin-right:auto;
}
 
.active {
	background-color: #B4B4B4;
}
 
.sectionboxR {
	border: .1em solid black;
	box-sizing: content-box;
	padding-left: 1em;
	width: auto;
	max-width: 35em;
	margin: 0 auto;
	background-color: #FAFAD2;
}

.sectionboxA {
	border: .1em solid black;
	box-sizing: border-box;
	width: auto;
	height: auto;
	padding: 0.5em;
	margin-bottom: 2em;
	display: block;
	background-color: #FAFAD2;
}

.clearme {
	clear: both;
}
